*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header-wall{
    background-image: linear-gradient( rgba(4,9,30,0.5),rgba(4,9,30,0.3)),
    url(images/bh69.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display:flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: linear-gradient(rgba(2, 7, 29, 0.9),rgba(4,9,30,0));
}
nav img{
    width: 200px;
}
.navl{
    flex:10px;
    text-align:right;
    margin-top: -45px;
}
.navl ul li{
    list-style: none;
    display:inline-block;
    padding:0px 12px;
    position: relative;
    border-radius: 15px;
    margin-top: 0px;
}
.navl ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.navl ul li::after{
    content: ' ' ;
    width: 0%;
    height: 2px;
    background: #8de726;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navl ul li:hover::after{
    width:100%;
}
span{
    color:#8de726;
}

.caption .btn-dark:hover{
    color:#fff;
}
/*---------Action--------*/
.action{
    margin: 0px;
    width: 80%;
    text-align: center;
    padding: 70px 190px;
}
.action p1{
    color: #fff;
    margin-bottom: 0px;
    padding: 0;
    font-size: 20px;
}
.action h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    font-size: 50px;
}

/*---------Action1--------*/
.action1{

    margin: 0px auto;
    width:100%;
    background-image: linear-gradient( rgba(107, 173, 32, 0.9),rgba(107, 173, 32, 0.9)),
    url(images/imresizer\ \(5\).jpg);
    padding: 30px 195px;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;

}
.heading{
    color: #fff;
    margin-bottom: 2px;
}
.subscribe-form_col-lg-4{
    text-align:right;
    padding:0px 0px;  
    position: relative; 
    display: flex;
}

.theme-btn{
    width:100px;
    padding: 12px;
    background: transparent;
    border: 2px solid #fff;;
    font-size: 20px;
    color: #fff;
}
.action1 input {
    display: inline;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    margin-right: 5px;
    cursor: pointer;
    width: 300px;
    padding: 15px;
    cursor: pointer;
    border: 2px solid #fff;
    background: transparent;
  }

/*-----Footer-----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: rgb(10, 9, 9);
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 25px;
    padding:5px;
}
.footer p{
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px;
}
.footer .icon-last{
    display: inline-block;
    
}
.footer .icon-last embed{
    padding-left: 10px;
    padding-bottom: 5px;
    width: 30px;
    height: 25px;
}